/* Fonts */
$main-heading-l-device: 40px;
$main-heading-s-device: 32px;
$standard-font-size: 16px;
$small-font-size: 14px;

/* Device width */
$mobile: 320px;
$tablet: 768px;
$tablet-max: 1439px;
$desktop: 1440px;

/* Colors Palette */

  /* Primary colours */
  $wow-blue: #00a4ff;
  /* Secondary colours */
  $dark-gray: #4d4f52;
  $medium-gray: #686c70;
  $light-gray: #f5f5f5;
