/* Showroom Page Section */

.subtitle {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  background: rgb(245,245,245); /* Fall-back */
  background: rgba($light-gray, .5);
  box-shadow: 0 1px 0 0 #dddddd;
  margin-bottom: 32px;
  height: 200px;

  h1 {
    line-height: 1.5em;

    @include bp-medium {
      line-height: 1.2em;
    }
  }

  @include bp-medium {
    margin-bottom: 64px;
  }
}

.car-cards {
  padding: 0 16px;

  @include bp-medium {
    overflow: hidden;
    margin: 0 auto;
    width: 672px;
    padding: 0;
  }

  @include bp-large {
    width: 1139px;
    margin: 0 auto;
  }

  .car-cards__unit {
    @include border-radius(6px);
    border: solid 1px #eeeeee;
    margin-bottom: 32px;

    @include bp-medium {
      margin-bottom: 48px;
      width: 321px;
      float: left;

      &:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @include bp-large {
      width: 254px;

      &:not(:nth-child(4n)) {
        margin-right: 41px;
      }
    }

    .car__detail {
      @include border-top-radius(4px);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 170px;
      width: 100%;

      @include bp-medium-only {
        height: 200px;
      }

      &:after {
        background: linear-gradient(122deg, #0a0b0c, rgba(10, 11, 12, 0));
        position: relative;
        display: block;
        height: 170px;
        width: 100%;
        content: '';

        @include bp-medium-only {
          height: 200px;
        }
      }

      img {
        display: block;
        height: auto;
        width: 100%;
      }

      .btn-bin,
      .btn-offert {
        position: absolute;
        cursor: pointer;
        z-index: 9;

        &:hover {
          opacity: 0.7;
        }
      }

      .btn-bin {
        right: 9px;
        top: 9px;
      }

      /* new offert btn */
      .btn-offert {
        @include btn($wow-blue, center, 1.44, 16px, 50px, #FFFFFF, 24px, 112px);
        left: 17px;
        top: 16px;
      }

      .car__detail--model {
        @extend .center-center;
        margin-left: 20px;
        margin-top: 24px;
        color: #FFFFFF;
        width: 100%;
        top: 40%; /* override extend .center-center */

        @include bp-large {
          width: 254px;
        }

        p,
        h3 {
          @include ProximaNova-Bold;
        }

        p {
          line-height: 1.5em;
          font-size: $standard-font-size;

          @include bp-medium {
            line-height: 1.33em;
            font-size: 18px;
          }
        }

        h3 {
          line-height: 1.67em;
          font-size: 24px;

          @include bp-medium {
            line-height: 1.14em;
            font-size: 28px;
          }

          @include bp-large {
            line-height: 1.43em;
          }
        }
      }
    }

    .car__details--spec {
      @include border-bottom-radius(6px);
      background-color: #ffffff;
      color: $dark-gray;
      padding: $standard-font-size;

      .engine-text {
        @include ProximaNova-Bold;
        line-height: 1.25em;
        font-size: $standard-font-size;
      }

      .details-text {
        @include ProximaNova-Regular;
        color: $medium-gray;
        line-height: 1.43em;
        font-size: $small-font-size;

        @include bp-medium-only {
          line-height: 1.5em;
          font-size: $standard-font-size;
        }
      }
    }
  }
}
